@import "macchiato.css";

* {
    /* font-family: JetBrainsMono Nerd Font Propo; */
    /* font-family: JetBrains Mono, Symbols Nerd Font; */
    font-family: monospace;
    font-size: 12px;
    font-weight: 500;
}

window#waybar {
    /* background-image: linear-gradient(to top, @crust, @base); */
    background-color: @crust;
    border: none;
    padding: 0;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.empty {
}

window#waybar.hidden {
}

/* If someday i want gaps again (shadow for the bar)
window#waybar {
    background-color: transparent;
    border: none;
    padding: 0;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar > box {
    margin: 0px 0px 8px 0px;
    background-image: linear-gradient(to top, @crust, @base);
    box-shadow: 0px 4px 2px 1px #101010;
}
*/

button {
    border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background-color: inherit;
}

#workspaces button {
    color: @lavender;
    padding: 0 3px;
}

#workspaces button:hover {
    background: transparent;
    border: transparent;
    box-shadow: inherit;
    padding: 0 3px;
    color: @green;
    text-shadow: inherit;
}

#workspaces button.focused {
    color: @blue;
}

#workspaces button.urgent {
    color: @red;
}

#mode {
}

#workspaces,
#clock,
#cpu,
#memory,
#temperature,
#backlight,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-launcher,
#custom-powermenu {
    background-color: @base;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 0px 8px;
}

#workspaces {
    padding: 0 5px;
}

#clock {
    color: @pink;
    border-radius: 0px 8px 8px 0px;
}

#cpu {
    color: @teal;
    border-radius: 8px 0px 0px 8px;
}

#memory {
    color: @mauve;
}

#backlight {
    color: @yellow;
}

#pulseaudio {
    color: @flamingo;
    border-radius: 8px 0px 0px 8px;
}

#pulseaudio.muted {
    color: @crust;
}

#temperature {
    color: @sapphire;
    border-radius: 0px 8px 8px 0px;
}

#temperature.critical {
    color: @red;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#idle_inhibitor {
    opacity: 0;
}

#idle_inhibitor.activated {
    opacity: 1;
}

#scratchpad {
}

#scratchpad.empty {
    background-color: transparent;
}

#custom-powermenu,
#custom-launcher,
#tray {
    margin-left: 5px;
    margin-right: 5px;
}

#custom-powermenu,
#custom-launcher,
#workspaces,
#tray {
    border-radius: 8px;
}

#custom-powermenu {
    color: @red;
}
